.container {
  margin-top: 20px;
}

input[type="number"], input[type="text"], select {
  display: inline-block;
  width: 200px;
  margin-right: 10px;
}

.btn{
  background-color: black;
  color: white;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}

#displayui {
  margin-left: 15%; 
  margin-top: 1px;
}

..delete-btn {
  margin-left: 10px; /* Change the value as per your requirement */
}


