<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat</title>
    <link rel="stylesheet" href="/css/chat.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Message</a></li>
                <li class="main-header__item"><a href="/login">Login</a></li>
                <li class="main-header__item"><a href="/contact-us">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form class = "messageForm" id ="messageForm" action="/" method = "POST">
            <div class="form-control">
                <label for = "message">Enter Message Here...</label>
                <input id="message" type="text" name="chat" placeholder="Enter Message Here...">
                <input type="hidden" name="username" id="username">
            </div>
    
            <button type="submit"> Send </button>
        </form>
        <div id="chat-container"></div>
    </main>

    <!-- <script>

        document.addEventListener("DOMContentLoaded", function() {
            const storedUsername = localStorage.getItem('username')
            const message = document.getElementById('message').value;

            const chatContainer = document.getElementById('chat-container');
            const storedMessage = JSON.parse(localStorage.getItem('newMessage')) || [];

            storedMessage.forEach(function(message) {
                const newMessage = document.createElement('div');
                newMessage.textContent = message;
                chatContainer.appendChild(newMessage);
            })

        });

        function displayUI(event) {
            event.preventDefault();

            const storedUsername = localStorage.getItem('username')
            const message = document.getElementById('message').value;

            const chatContainer = document.getElementById('chat-container');
            const newMessage = document.createElement('div');
            newMessage.innerHTML = `${storedUsername} : ${message}`;

            chatContainer.appendChild(newMessage);

            const storedMessage = JSON.parse(localStorage.getItem('newMessage')) || [];
            storedMessage.push(`${storedUsername}: ${message}`);

            localStorage.setItem('newMessage', JSON.stringify(storedMessage));
        }
    </script> -->
</body>

</html>