<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Chat</a></li>
                <li class="main-header__item"><a class="active" href="/login">Login</a></li>
                <li class="main-header__item"><a href="/contact-us">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form class="loginForm" id ="loginForm"action="/login" method="POST">
            <div class="form-control">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Enter Username">
            </div>

            <button type="submit"> Login </button>
        </form>
        <script>
            document.getElementById('loginForm').addEventListener('submit', function (event) {
                event.preventDefault();

                var username = document.getElementById('username').value;
                localStorage.setItem('username', username);
                window.location.href = '/';
            });
        </script>
    </main>
</body>

</html>