<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <h1>LOGIN HERE...</h1>
    <link rel="stylesheet" href="css/login.css" />
  </head>
  <body>
    <div id="top">
      <div id="add">
        <main class="main">
            <form id="loginForm">
                <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                <label for="email">Email:</label>
                <input type="text" placeholder="Enter Email..." required>
                <label for="password">Password:</label>
                <input type="text" placeholder="Enter Password..." required>
                <button type="submit" class="loginbutton">Login</button>
                <br>
                <a href="Signup.html">Signup Here..</a>
                <div id="errorMessage"></div>
            </form>
        </main>
      </div>
    </div>
    <script src="js/login.js"></script>
  </body>
</html>
