<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  
  <body>
    <!-- NAVBAR -->
    <div class="navbar">
      <div class="flex items-center">
        <span class="text-x1 font-kavoon text-blue">Expense Tracker</span>
      </div>
      <div class="flex items-center">
        <span class="px-2 text-blue font-bold" id="memtype"></span>
        <button id="buyPremiumBtn" class="primary-button">Buy Premium</button>
        <button
          id="downloadReportBtn"
          class="primary-button"
          onclick="downloadReport()"
        >
          Download
        </button>
        <button id="logoutBtn" class="primary-button">Logout</button>
      </div>
    </div>

    <div class="container">
      <div class="login-name"><span id="loggedName"></span></div>
      <div class="screen">
        <main class="main">
          <form id="expenseForm" onsubmit="saveToDb(event)">
            <div>
              <input
                class="ExpenseTypeRadio"
                type="radio"
                name="amountType"
                id="expenseRadio"
                value="expense"
                required
              />
              <label for="expenseRadio">Expense</label>
              <input
                class="ExpenseTypeRadio"
                type="radio"
                name="amountType"
                id="incomeRadio"
                value="income"
                required
              />
              <label for="expenseRadio">Income</label>
            </div>

            <label for="amount">Expense Amount:</label>
            <input
              type="number"
              id="amount"
              name="amount"
              placeholder="Enter Expense Amount"
            />
            <label for="description">Expense Description:</label>
            <input
              type="text"
              id="description"
              name="description"
              placeholder="Enter description"
            />
            <label for="category">Expense Category:</label>
            <select id="category" name="category" required>
              <option value="" disabled selected>Choose One...</option>
              <option value="Salary">Salary</option>
              <option value="Electronics">Electronics</option>
              <option value="Food">Food</option>
              <option value="Utilities">Utilities</option>
              <option value="Miscellaneous">Miscellaneous</option>
            </select>
            <button type="submit" id="addExpenseButton" class="primary-button">
              Add Expense
            </button>
            <button
              type="button"
              id="updateExpenseBtn"
              class="secondary-button"
              style="display: none"
            >
              Update Expense
            </button>
          </form>
        </main>
      </div>
    </div>

    <!-- Display LeaderBoard -->
    <div id="leaderboardButtonDiv">
      <!-- LeaderBoard Button -->
      <!-- Show Downloads Button -->
    </div>

    <!-- Success Alert -->
    <div id="Success-alert" class="alert success hidden"></div>

    <!-- Deletion Alert -->
    <div id="Deletion-alert" class="alert danger hidden"></div>

    <!-- Error Alert -->
    <div id="error-alert" class="alert danger hidden">
      <span class="error-textMsg font-bold"></span>
      <button id="close-button" class="alert-close-button">
        <span class="font-bold justify-end">X</span>
      </button>
    </div>

    <!-- Expense Data Container -->
    <div id="tableItems">
      <!-- Expense Records -->
      <table class="expense-table-items">
        <thead>
          <tr>
            <th>Income</th>
            <th>Expense</th>
            <th>Description</th>
            <th>Category</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody class="text-center" id="addExpenseList"></tbody>
        <tfoot>
          <tr>
            <td colspan="2" class="text-center total-label">Total Income:</td>
            <td class="total-amount" id="totalIncome">0</td>
            <td colspan="2" class="text-center total-label">Total Expense:</td>
            <td class="total-amount" id="totalExpense">0</td>
          </tr>
        </tfoot>
      </table>

      <!-- Pagination -->
      <div>
        <div id="paginationContainer" class="pagination">
          <button id="prevPage" class="pagination-button">Previous</button>
          <span id="pageNumber" class="pagination-page-number"></span>
          <button id="nextPage" class="pagination-button">Next</button>

          <div class="md:flex mx-auto">
            <span
              >Showing <span id="showingCurrPage"></span> of
              <span id="showingRange"></span
            ></span>

            <label>Expenses per page:</label>
            <input type="number" id="pageLimit" min="1" placeholder="5" />
            <button id="savePageLimit" class="pagination-button">Save</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Premium User Feature LeaderBoard -->
    <div id="leaderBoardTable" class="premium-feature">
      <!-- LeaderBoard Table -->
      <div id="leadermsg" class="premium-title">LeaderBoard</div>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Total Expense Amount</th>
          </tr>
        </thead>
        <tbody id="addedLeaderBoardList"></tbody>
      </table>
    </div>

    <div id="downloadsTable" class="premium-feature">
      <div class="premium-title">Downloads History</div>
      <table>
        <thead>
          <tr>
            <th>Downloads On</th>
          </tr>
        </thead>
        <tbody class="text-center" id="addedDownloadList"></tbody>
      </table>
    </div>

    <script src="/js/main.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
  </body>
</html>
