  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body{
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(90deg, #C7C5F4, #776BCC);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.screen {
  background: linear-gradient(90deg, #5D54A4, #7C78B8);
  position: relative;
  height: 600px;
  width: 360px;
  box-shadow: 0px 0px 24px #5C5696;
}

.screen_content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #fff;
	top: -50px;
	right: 120px;
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #6c63ac;
	top: -172px;
	right: 0;
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #5d54a4, #6a679e);
	top: -24px;
	right: 0;
	border-radius: 32px;
}

.login {
  width: 320px;
  padding: 30px;
  padding-top: 156px;
}

.signup {
    width: 320px;
  padding: 30px;
  padding-top: 156px;
}

.login_field {
  padding: 20px 0px;
  position: relative;
}

.signup_field {
   padding: 20px 0px;
  position: relative;
}

.login_icon {
  position: absolute;
  top: 30px;
  color: #7875B5;
}

.signup_icon {
   position: absolute;
  top: 30px;
  color: #7875B5;
}

.login_input {
  border: none;
  border-bottom: 2px solid #D1D1D4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: .2s;
}

.signup_input {
border: none;
  border-bottom: 2px solid #D1D1D4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: .2s;
}

.login_input:active,
.login_input:focus,
.login_input:hover {
  outline: none;
  border-bottom-color: #6A679E;
}

.signup_input:active,
.signup_input:focus,
.signup_input:hover {
  outline: none;
  border-bottom-color: #6A679E;
}

.login_submit {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #D4D3E8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #4C489D;
  box-shadow: 0px 2px 2px #5C5696;
  cursor: pointer;
  transition: .2s;
}

.signup_submit {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #D4D3E8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #4C489D;
  box-shadow: 0px 2px 2px #5C5696;
  cursor: pointer;
  transition: .2s;
}

.login_input:active,
.login_input:focus,
.login_input:hover {
  outline: none;
  border-bottom-color: #6A679E;
}

.signup_input:active,
.signup_input:focus,
.signup_input:hover {
  outline: none;
  border-bottom-color: #6A679E;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: #7875B5;
}

.social-login {
  position: absolute;
  width: 200px;
  text-align: center;
  top: 20px;
  left: 50%;
  color: #fff;
}

.social-signup {
  position: absolute;
  width: 200px;
  text-align: center;
  top: 20px;
  left: 50%;
  color: #fff;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-signup-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-login__icon {
  padding: 20px 10px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0px 0px 8px #7875B5;
}

.social-signup__icon {
  padding: 20px 10px;
  color: white;
  text-decoration: none;
  text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
  transform: scale(1.5);
}

.redirect-links {
  position: absolute;
  height: 160px;
  bottom: 15px;
  width: 220px;
	text-align: center;
	right: 0px;
	color: black;
  font-weight: bold;
}


.redirect-links__path {
  padding: 20px 10px;
  text-decoration: underline;
  color: #fff;
  font-style: italic;
  font-size: small;
}

.link-redirect {
  position: absolute;
  height: 70px;
  bottom: 15px;
  width: 270px;
	text-align: center;
	right: 0px;
	color: black;
  font-weight: bold;
}

.link-redirect__path {
  padding: 20px 10px;
  text-decoration: underline;
  color: #fff;
  font-style: italic;
}