/* CSS code for the signup form */

/* Styles for the top container */
.top {
    margin: 20px;
  }
  
  /* Styles for the form container */
  .add {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* Styles for the main content */
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Styles for the form labels */
  label {
    margin-bottom: 5px;
  }
  
  /* Styles for the form input fields */
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Styles for the sign-up button */
  .addbutton {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .addbutton:hover {
    background-color: #45a049;
  }
  
  /* Styles for the link to the login page */
  a {
    text-decoration: none;
    color: blue;
    margin-top: 10px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  #errorMessage {
    color: red;
  }